<!DOCTYPE html>
<html ng-app="App">
    <head>
        <title>ngUIAlert Demo</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        
        <link href="index.css" rel="stylesheet" type="text/css"/>
        <link href="../ngUIAlert.css" rel="stylesheet" type="text/css"/>
        
        <script src="angularjs-1.5.3.js" type="text/javascript"></script>
        <script src="angular-animate-1.5.3.js" type="text/javascript"></script>
        <script src="../ngUIAlert.js" type="text/javascript"></script>
        
        <script src="index.js" type="text/javascript"></script>
    </head>
    <body ng-controller="AppCtrl">
        
        <h1>UIAlert Demo</h1>
        <button ng-click="showAlert1()">show alert 1</button>
        <button ng-click="showAlert2()">show alert 2</button>
        <button ng-click="showAlert3()">show alert 3</button>
        <button ng-click="showAlert4()">show alert 4</button>
        <button ng-click="showAlert5()">show alert 5</button>

    </body>
</html>
