<!DOCTYPE html>
<html ng-app="App">
    <head>
        <title>ngUIAlert Demo</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        
        <script>
            UI_ALERT_CLASS = 'alert';
            UI_ALERT_TYPE_CLASS = 'alert-success';
            UI_ALERT_BUTTON_CLASS = 'btn btn-default';
        </script>
        
        <link href="../ngUIAlert.css" rel="stylesheet" type="text/css"/>
        
        <link href="bootstrap-material/bootstrap-material-design.css" rel="stylesheet" type="text/css"/>
        
        <link href="index.css" rel="stylesheet" type="text/css"/>
        
        <script src="angularjs-1.5.3.js" type="text/javascript"></script>
        <script src="angular-animate-1.5.3.js" type="text/javascript"></script>
        <script src="../ngUIAlert.js" type="text/javascript"></script>
        
        <script src="index.js" type="text/javascript"></script>
    </head>
    <body ng-controller="AppCtrl">
        
        <h1>UIAlert Demo</h1>
        <button ng-click="showAlert1()">success</button>
        <button ng-click="showAlert2()">mytype</button>
        <button ng-click="showAlert3()">info</button>
        <button ng-click="showAlert4()">dange</button>
        <button ng-click="showAlert5()">show alert 5</button>
        <button ng-click="showAlert6()">alert with buttons</button>
    </body>
</html>
